version: "3.9"

services:
  app:
    build: .
    container_name: kalog-app
    volumes:
      - ./:/var/www/html/kalog
    restart: always

  nginx:
    image: nginx:latest
    container_name: kalog-nginx
    ports:
      - "1337:80"
    volumes:
      - ./:/var/www/html/kalog
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: always